<form 
  [formGroup] = "createShops"
  (ngSubmit)= "onCreateShops()"
  >
    <label for="name">Name of Shop</label>
    <input
      formControlName = "name"
      type="text"
      name="name"
      required
    >

    <label for="location">Location</label>
    <input
      formControlName = "location"
      type="text"
      name="location"
      required
    >

    <label for="favoriteDrink">Favorite Drink</label>
    <input
      formControlName = "favoriteDrink"
      type="text"
      name="favoriteDrink"
      required
    >

    <label for="note">Note</label>
    <input
      formControlName = "note"
      name="note"
      required
    >
    <!-- <option
      *ngFor="let g of genres"
      value="{{ g }}">
      {{ g }}
      </option> -->

    


    <!-- <label for="owner">owner</label>
    <input
      formControlName = "owner"
      type="text"
      name="owner"
      required
    > -->

    <!-- <label for="rating">Rating</label>
    <select
      formControlName = "rating"
      name="rating"
      required
    >
    <option
      *ngFor="let rating of ratings"
      value="{{ rating.value }}">
      {{ rating.view }}
    </option>
  
    </select> -->

    <button
      [disabled]="!useBtn"
      type="submit"
      >
      {{ useBtn === false ? "Think About a Shop" : "Add a Shop" }}
      </button>
</form> 


<div *ngIf="shops.length !== 0; else noShops">

  <div class="deck"
  *ngFor="let el of shops"
>
      <div class="card" >
          <div class="cardContainer" (click)="myShop(el.id)">
              <p 
                > {{ el.id }}</p>
              <h1>{{ el.name }}</h1>
              <p>{{ el.location }}</p>
              <p> {{ el.favoriteDrink }}</p>
              <p>{{ el.note }}</p>
              <p>{{ el.owner }}</p>
              <!-- <app-post-comments></app-post-comments>
              <app-comment-lists></app-comment-lists> -->
              
          <div *ngIf="role === 'admin'|| el.userId === ID">
              <button (click)="deleteShop(el.id)">delete</button>
          </div>
          <div *ngIf="el.userId === ID">    
          <button (click)="updateShop(el.id)">update</button>
      
          </div>
      </div>
  </div>
</div>

