<form 
  [formGroup] = "createShops"
  (ngSubmit)= "onCreateShops()"
  >
    <label for="name">Name of Shop</label>
    <input
      formControlName = "name"
      type="text"
      name="name"
      required
    >

    <label for="location">Location</label>
    <input
      formControlName = "location"
      type="text"
      name="location"
      required
    >

    <label for="favoriteDrink">Favorite Drink</label>
    <input
      formControlName = "favoriteDrink"
      type="text"
      name="favoriteDrink"
      required
    >

    <label for="note">Note</label>
    <input
      formControlName = "note"
      name="note"
      required
    >
    <!-- <option
      *ngFor="let g of genres"
      value="{{ g }}">
      {{ g }}
      </option> -->

    


    <!-- <label for="owner">owner</label>
    <input
      formControlName = "owner"
      type="text"
      name="owner"
      required
    > -->

    <!-- <label for="rating">Rating</label>
    <select
      formControlName = "rating"
      name="rating"
      required
    >
    <option
      *ngFor="let rating of ratings"
      value="{{ rating.value }}">
      {{ rating.view }}
    </option>
  
    </select> -->

    <button
      [disabled]="!useBtn"
      type="submit"
      >
      {{ useBtn === false ? "Think About a Shop" : "Add a Shop" }}
      </button>
</form> 


<div *ngIf="shops.length !== 0; else noShops">

  <div class="deck"
  *ngFor="let el of shops"
>
      <div class="card" >

          <div class="cardContainer" (keyup)="myShop(el.id)">
              <!-- <p> {{ el.id }}</p> -->
              <h1>{{ el.name }}</h1>

              <p>{{ el.location }}</p>
              <p> {{ el.favoriteDrink }}</p>
              <p>{{ el.note }}</p>
              <p>{{ el.owner }}</p>


              <app-post-comments [owner]="ID"></app-post-comments>

              <div *ngIf= "activeShop.coffee" >
                  <mat-accordion  >
                    <div *ngIf="el.id===activeShop.coffee.id">
                     <mat-expansion-panel *ngFor="let comment of activeShop.coffee.comments"  >
                       <mat-expansion-panel-header> 
                         <p >{{comment.name}}:</p>
                       </mat-expansion-panel-header>
                       <div *ngIf="comment.owner === ID; else elseBlock">
                         <p>{{comment.comment}}</p> 
                          <!-- <textarea
                          [(ngModel)]="">{{comment.comment}}</textarea>  -->
                          <button (click)="updateComment(comment.id)">edit</button>
                        </div>
                        <ng-template #elseBlock>{{comment.comment}}</ng-template>
                          
                          <div *ngIf="comment.owner === ID || role === 'admin'">
                            <button (click)="deleteComment(comment.id)">x</button>
                      </div>
                     </mat-expansion-panel>
                    </div>
                   </mat-accordion>
                 </div>

              <!-- <app-comment-lists></app-comment-lists> -->

              

          <div *ngIf="role === 'admin'|| el.userId === ID">
              <button (click)="deleteShop(el.id)">delete</button>
          </div>
          <div *ngIf="el.userId === ID">    
          <button (click)="updateShop(el.id)">update</button>
      
          </div>
      </div>
  </div> 
</div>


