 <div class="deck">
<!--    <div id='Shop' class="card">
        <div class="cardContainer">
            <p> {{ shops.id }}</p>
            <h1>{{ shops.name }}</h1>
            <p>{{ shops.location }}</p>
            <p> {{ shops.favoriteDrink }}</p>
            <p>{{ shops.note }}</p>
            <p>{{ shops.owner }}</p>
        <div *ngIf="role === 'admin'|| shops.userId === ID">
            <button (click)="deleteShop(shops.id)">delete</button>
        </div>
        <div *ngIf="shops.userId === ID">    
        <button (click)="updateShop(shops.id)">update</button>
    
        </div>
    </div> -->
</div>

