<!-- <div class="body">
    <img src='../../../assets/coffeedrip.jpg' height="850" width="1440">  -->
<!-- </div> -->


<body class="body">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <h1 position="center">Welcome to Coffee and Code!</h1>
        <br>
        <br>
    <p class="blurb">This place is for you! Share with others your favorite places to grab a cup of great java, relax with friends, and work on your next masterpiece.  Please feel free to tell others why you love thier favorite hang outs too!</p>
    <p class="blurb">If your'e not a member, sign up, and then head on over to the Shops page, and take a look around  If you've got a favorite hangout, let other's know about it!</p>
</body>