<!-- <mat-card>
  <mat-form-field>
    <textarea matInput rows="6" [(ngModel)]="enteredValue "></textarea> 
  </mat-form-field>
</mat-card>
<button mat-raised-button color="primary" (click)="onSubmitComment()">Submit</button>
<p>{{ newComment }}</p>        -->



    <label for="Comment">Comment</label>
    <input
      [(ngModel)] = 'createComments'
      type="text"
      name="comment"
      placeholder="comment here"
      required
    >

    <button
      (click)="onSubmitComment()"
      type="submit"
      >Submit</button>
