<div class="login">
    <div class="container">
        <h1>Login</h1>
        <form>
            <div class="form-group">
                <label for="email">Email Address
                </label>
                <input
                    [(ngModel)]="UserData.email"
                    type="text"
                    class="form-control"
                    name="email"
                    placeholder="Enter Your Email"
                    required="required"></div>

                <div class="form-group">
                    <label for="password">Password
                    </label>
                    <input
                        [(ngModel)]="UserData.password"
                        type="password"
                        class="form-control"
                        name="password"
                        placeholder="Enter Your Password"
                        required="required"></div>

                    <button type="button" class="btn btn-success" (click)="onLogin()">
                        Login</button>

                </form>
            </div>
        </div>



<!-- <a class="nav-item nav-link" routerLink="shops" routerLinkActive="active"></a> -->
