<h1>Welcome to Shops!</h1>
<br/>
<app-create-shops></app-create-shops>
<br/>

<div class="deck" *ngFor="let shops of shops">
  <div class="card">
      <div class="cardContainer">
          
                <!-- <p>{{ shops.id }} </p> -->
                
                <h1>{{ shops.name }} </h1>
                <p> {{ shops.location }} </p>
                <p> {{ shops.favoriteDrink }}</p>
                <p> {{ shops.note }} </p>
                Posted by: <p> {{ shops.owner }}</p>
                
              
<app-post-comments></app-post-comments>
<app-comment-lists></app-comment-lists>       
      </div>
  </div>
</div>