<!-- <div class="body">
    <img src='../../../assets/coffeedrip.jpg' height="850" width="1440">  -->
<!-- </div> -->
<div class="image">
<h1>Welcome to Coffee and Code!</h1>
<br/>
<app-create-shops></app-create-shops>
<br/>
</div>
    

<!-- <div class="image">
        <h1>Welcome to Coffee and Code!</h1>
        <br/>
        <app-create-shops></app-create-shops>
        <br/>
        
        <div class="deck" *ngFor="let shops of shops">
          <div class="card">
              <div class="cardContainer">
                  
                         <p>{{ shops.id }} </p> -->
                        
                        <!-- <h1>{{ shops.name }} </h1>
                        <h5>Location:</h5><p> {{ shops.location }} </p>
                        <h5>Favorite Drink:</h5><p> {{ shops.favoriteDrink }}</p>
                        <h5>Shop Notes:</h5><a> {{ shops.note }} </a>
                        <h5>Posted by:</h5><a> {{ shops.owner }}</a>
              
                        
                        <app-post-comments></app-post-comments>
                        <app-comment-lists></app-comment-lists>       
              </div>
          </div>
        </div>
        </div>  -->