.signup {
    border: solid 1px black;
    width: 50vw;
    height: 70vh;
    text-align: center;
    padding: 3em;
    box-shadow: 5px 10px 8px #888888;
    margin: 5em 0 0 20em;
    background-color: white;
}

.image{
    /* height:40em;  */
    /* background-size:cover;  */
    width:auto;
    background-image:url('../../../assets/coffeedrip.jpg');
    /* background-position:50% 50%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
