<!-- <ul class="list-group">
    <li class="list-group-item"> -->
      <!-- Post Comment Button -->
      <!-- <button type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment(blog._id)" [disabled]="newComment.indexOf(blog._id) > -1">Post Comment</button>
      <br />
      <br />
      <div *ngIf="newComment.indexOf(blog._id) > -1"> -->

        <!-- Form: Comment Form Start -->
        <!-- <form [formGroup]="commentForm"> -->
          <!-- Textarea Input -->
          <!-- <textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea> -->
          <!-- Validation -->
          <!-- <div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
            <ul class="help-block">
              <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This field is required.</li>
              <li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">Comment must be at least 1 character but no more than 200.</li>
            </ul>
          </div> -->
          <!-- Post Button -->
          <!-- <button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-info" (click)="postComment(blog._id)">Post</button> -->
          <!-- Cancel Button -->
          <!-- <button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="cancelSubmission(blog._id)">Cancel</button>
        </form> -->




<mat-accordion>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <p>Comments</p>
    </mat-expansion-panel-header>
    <p>user1 : heyy</p>
  </mat-expansion-panel>
</mat-accordion>
<!-- <p *ngIf="comments.length <= 0">No comments added yet</p> -->